{{jk}}
{%load static %}
<!DOCTYPE HTML> 
<html>
<head>

        <meta   charset="UTF-8">
            <title>Howmework</title>
            
           <style>
            .formd{
                padding: 200px;
            }
            .form{
                padding-top: 60px;
            }
            body{
                color: black;
                font-size: 28px;
            }
           	fieldset {
   			border:none; /*solid 2px #fff;  */
   			background-color: #c185c55e !important;
     		
             /* width: 40% !important;width: 560px;*/
             padding-left: 0;
             padding-right: 0;
             margin: 5px;
             width:fit-content;
			}
            legend 
            {
            background-color: #080808;
            color: #fff;
            padding: 4px 4px;
            }
        
            .output 
            {
            font: 4rem 'Fira Sans', sans-serif;
            }
            input 
            {
            margin: .4rem;
            text-align:center;
            font-size:22px;
            }
            .hidd{
                width: 0;
                height: 0;
                margin:0;
                padding:0;
            }
            button{
                color:white;
                 padding: 15px 32px;
                 text-align: center;
                 text-decoration: none;
                 display: inline-block;
                 font-size: 16px;
                 margin: 4px 2px;
                 cursor: pointer;
                 border-radius: 52px;
                 width: auto;
                 height: 62px;
                 background-color: #a983b7;border: solid #3c2a4e;font-size:22px;
                 box-shadow: 1.5px 1.5px rgb(43 38 38 / 40%);
                }
                button:hover{
    letter-spacing: 1px;
    box-shadow: 0 0;
                }
                #ready{
                    height: 67px;
                }
                #ready:hover{
text-transform: uppercase;
                } 
                
.btn{
    box-shadow: 1.5px 1.5px rgb(43 38 38 / 40%);
    font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  background: #e9aef5;
    color: #79197a;
    cursor: pointer;
    line-height: 2;
    border: 3px dotted #79197a;
    width:344px;
}
.btn:hover {
 
    font-weight: 900;
    letter-spacing: 3px;
    background:  #fff;
    color:#79197a ;
    border: #79197a dashed;
    box-shadow: 0 0;
  }

            
           </style>
    <!--____________________________________________________________-->
    <script type="text/javascript">
        
        var oCloneEdge;
        var count1 = 0;
        var count2 = 0;
    //createTextbox.innerHTML = createTextbox.innerHTML 
    //+"<div id='template'><fieldset id='fieldset'><legend id='legend'>Cities</legend><label for='nofcity'>Name of City:</label> <input type='text' id='nofcity' name='nofcity'/></br><button style='background-color:rgb(0, 89, 255); color:rgb(26, 5, 80); border-radius:5px' type='button' name='addedge' onclick='Addedge();'>ADD Edge</button><br><br><!--____________________________________________________--><fieldset><legend>Distance </legend>    <div id='place'><div id='te'><label for='to'>TO :</label> <input type='text' id='to' name='cost'/> <label for='cost'>Cost :</label> <input type='text' id='cost' name='cost'/> </div> <!-- template -->" 
    // 
   
        function Add(ss) {
            document.getElementById('ready').setAttribute("disabled","disabled");
            var list1 = document.getElementById("formID").classList;
            list1.add("form");
            list1.remove("formd");
            var oCloneCity ;
            count1++;
            oCloneCity= document.getElementById("fieldset").cloneNode(true);
            oCloneCity.name=count1;
            oCloneCity.id += count1 ;
            oCloneCity.getElementsByTagName("input")[0].name +=count1;
            oCloneCity.getElementsByTagName("input")[0].id +=count1;
            oCloneCity.getElementsByTagName("input")[1].name +=count1;
            oCloneCity.style.visibility="visible";
            const list2 = oCloneCity.classList;
            list2.remove("hidd");
             document.getElementById("ss").appendChild(oCloneCity);
             /*ss.nextElementSibling.firstElementChild.firstElementChild.appendChild(oCloneCity);*/
             ss.nextElementSibling.lastChild.lastChild.id +=counter1;
             
          
            }
            
        function Addedge(edgeel) {
           count2++;
            oCloneEdge= document.getElementById("place").cloneNode(true);
            oCloneEdge.id += count2 ;
            oCloneEdge.getElementsByTagName("input")[0].name =edgeel.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.name+oCloneEdge.getElementsByTagName("input")[0].name+count2;
            oCloneEdge.getElementsByTagName("input")[1].name =oCloneEdge.getElementsByTagName("input")[0].name+"cost";
            oCloneEdge.style.visibility="visible";
            const list = oCloneEdge.classList;
            list.remove("hidd");
             edgeel.parentNode.appendChild(oCloneEdge);
            }
            function Ready(){
               
                document.getElementById("ss").innerHTML +=" <fieldset id='fieldset1' class='' style='visibility: visible;' name='1'>\
         <legend id='legend'>Cities</legend>\
            <label for='nofcity'>Name of City:</label> \
                <input type='text' id='nofcity1' name='City1' value='Arad'>\
                <label for='heuristic'>straight_line cost:</label> \
                <input type='number' id='heuristic' name='heuristicCity1' value='366'><br>\
            <button type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                ADD Edge\
            </button>\
            <div id='place' class='hidd' style='visibility: hidden'>\
            <div id='te'>\
              \
                   <label for='to'>TO :</label> \
                   <input type='text' id='to' name='toCity'> \
                    <label for='cost'>Cost :</label> \
                    <input type='number' id='cost' name='cost'> \
            </div>\
        </div> \
        <div id='place1' class='' style='visibility: visible;'>\
            <div id='te'>\
              \
                   <label for='to'>TO :</label> \
                   <input type='text' id='to' name='City1toCity1' value='Zerind'> \
                    <label for='cost'>Cost :</label> \
                    <input type='number' id='cost' name='City1toCity1cost' value='75' > \
            </div>\
        </div><div id='place2' class='' style='visibility: visible;'>\
            <div id='te'>\
              \
                   <label for='to'>TO :</label> \
                   <input type='text' id='to' name='City1toCity2' value='Timisoara'> \
                    <label for='cost'>Cost :</label> \
                    <input type='number' id='cost' name='City1toCity2cost' value='118'> \
            </div>\
        </div><div id='place3' class='' style='visibility: visible;'>\
            <div id='te'>\
              \
                   <label for='to'>TO :</label> \
                   <input type='text' id='to' name='City1toCity3' value='Sibiu'> \
                    <label for='cost'>Cost :</label> \
                    <input type='number' id='cost' name='City1toCity3cost' value='140'> \
            </div>\
        </div></fieldset><fieldset id='fieldset2' class='' style='visibility: visible;' name='2'>\
         <legend id='legend'>Cities</legend>\
            <label for='nofcity'>Name of City:</label> \
                <input type='text' id='nofcity2' name='City2' value='Zerind'>\
                <label for='heuristic'>straight_line cost:</label> \
                <input type='number' id='heuristic' name='heuristicCity2' value='374'><br>\
            <button type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                ADD Edge\
            </button>\
            <div id='place' class='hidd' style='visibility: hidden'>\
            <div id='te'>\
              \
                   <label for='to'>TO :</label> \
                   <input type='text' id='to' name='toCity'> \
                    <label for='cost'>Cost :</label> \
                    <input type='number' id='cost' name='cost'> \
            </div>\
        </div> \
        <div id='place4' class='' style='visibility: visible;'>\
            <div id='te'>\
              \
                   <label for='to'>TO :</label> \
                   <input type='text' id='to' name='City2toCity4' value='Oradea'> \
                    <label for='cost'>Cost :</label> \
                    <input type='number' id='cost' name='City2toCity4cost' value='71'> \
            </div>\
        </div><div id='place5' class='' style='visibility: visible;'>\
            <div id='te'>\
              \
                   <label for='to'>TO :</label> \
                   <input type='text' id='to' name='City2toCity5' value='Arad'> \
                    <label for='cost'>Cost :</label> \
                    <input type='number' id='cost' name='City2toCity5cost' value='75'> \
            </div>\
        </div></fieldset><fieldset id='fieldset3' class='' style='visibility: visible;' name='3'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity3' name='City3' value='Oradea'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity3' value='380'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place6' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City3toCity6' value='Sibiu'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City3toCity6cost' value='151'> \
               </div>\
           </div></fieldset><fieldset id='fieldset4' class='' style='visibility: visible;' name='4'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity4' name='City4' value='Sibiu'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity4' value='253'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place7' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City4toCity7' value='Rimniciu Vilcea'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City4toCity7cost' value='80'> \
               </div>\
           </div><div id='place8' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City4toCity8' value='Fagaras'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City4toCity8cost' value='99'> \
               </div>\
           </div><div id='place9' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City4toCity9' value='Arad'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City4toCity9cost' value='140'> \
               </div>\
           </div></fieldset><fieldset id='fieldset5' class='' style='visibility: visible;' name='5'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity5' name='City5' value='Fagaras'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity5' value='176'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place10' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City5toCity10' value='Sibiu'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City5toCity10cost' value='99'> \
               </div>\
           </div><div id='place11' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City5toCity11' value='Bucharest'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City5toCity11cost' value='211'> \
               </div>\
           </div></fieldset><fieldset id='fieldset6' class='' style='visibility: visible;' name='6'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity6' name='City6' value='Rimniciu Vilcea'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity6' value='193'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place12' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City6toCity12' value='Pitesti'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City6toCity12cost' value='97'> \
               </div>\
           </div><div id='place13' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City6toCity13' value='Craiova'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City6toCity13cost' value='146'> \
               </div>\
           </div><div id='place14' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City6toCity14' value='Sibiu'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City6toCity14cost' value='80'> \
               </div>\
           </div></fieldset><fieldset id='fieldset7' class='' style='visibility: visible;' name='7'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity7' name='City7' value='Timisoara'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity7' value='329'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place15' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City7toCity15' value='Lugoj'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City7toCity15cost' value='111'> \
               </div>\
           </div><div id='place16' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City7toCity16' value='Arad'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City7toCity16cost' value='118'> \
               </div>\
           </div></fieldset><fieldset id='fieldset8' class='' style='visibility: visible;' name='8'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity8' name='City8' value='Lugoj'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity8' value='244'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place17' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City8toCity17' value='Mehadia'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City8toCity17cost' value='70'> \
               </div>\
           </div></fieldset><fieldset id='fieldset9' class='' style='visibility: visible;' name='9'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity9' name='City9' value='Mehadia'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity9' value='241'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place18' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City9toCity18' value='Lugoj'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City9toCity18cost' value='70'> \
               </div>\
           </div><div id='place19' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City9toCity19' value='Dorbeta'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City9toCity19cost' value='75'> \
               </div>\
           </div></fieldset><fieldset id='fieldset10' class='' style='visibility: visible;' name='10'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity10' name='City10' value='Dorbeta'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity10' value='242'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place20' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City10toCity20' value='Mehadia'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City10toCity20cost' value='75'> \
               </div>\
           </div><div id='place21' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City10toCity21' value='Craiova'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City10toCity21cost' value='120'> \
               </div>\
           </div></fieldset><fieldset id='fieldset11' class='' style='visibility: visible;' name='11'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity11' name='City11' value='Pitesti'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity11' value='100'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place23' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City11toCity23' value='Craiova'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City11toCity23cost' value='138'> \
               </div>\
           </div><div id='place24' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City11toCity24' value='Bucharest'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City11toCity24cost' value='101'> \
               </div>\
           </div></fieldset><fieldset id='fieldset12' class='' style='visibility: visible;' name='12'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity12' name='City12' value='Craiova'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity12' value='160'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place25' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City12toCity25' value='Pitesti'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City12toCity25cost' value='138'> \
               </div>\
           </div><div id='place26' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City12toCity26' value='Dorbeta'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City12toCity26cost' value='120'> \
               </div>\
           </div><div id='place27' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City12toCity27' value='Rimniciu Vilcea'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City12toCity27cost' value='146'> \
               </div>\
           </div></fieldset><fieldset id='fieldset13' class='' style='visibility: visible;' name='13'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity13' name='City13' value='Bucharest'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity13' value='0'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place28' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City13toCity28' value='Giurgiu'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City13toCity28cost' value='90'> \
               </div>\
           </div><div id='place29' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City13toCity29' value='Urziceni'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City13toCity29cost' value='85'> \
               </div>\
           </div><div id='place30' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City13toCity30' value='Fagaras'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City13toCity30cost' value='211'> \
               </div>\
           </div><div id='place31' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City13toCity31' value='Pitesti'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City13toCity31cost' value='101'> \
               </div>\
           </div></fieldset><fieldset id='fieldset14' class='' style='visibility: visible;' name='14'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity14' name='City14' value='Giurgiu'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity14' value='77'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place32' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City14toCity32' value='Bucharest'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City14toCity32cost' value='90'> \
               </div>\
           </div></fieldset><fieldset id='fieldset15' class='' style='visibility: visible;' name='15'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity15' name='City15' value='Urziceni'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity15' value='80'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place33' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City15toCity33' value='Vaslui'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City15toCity33cost' value='142'> \
               </div>\
           </div><div id='place34' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City15toCity34' value='Hirsova'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City15toCity34cost' value='98'> \
               </div>\
           </div><div id='place35' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City15toCity35' value='Bucharest'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City15toCity35cost' value='85'> \
               </div>\
           </div></fieldset><fieldset id='fieldset16' class='' style='visibility: visible;' name='16'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity16' name='City16' value='Vaslui'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity16' value='199'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place36' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City16toCity36' value='Lasi'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City16toCity36cost' value='92'> \
               </div>\
           </div><div id='place37' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City16toCity37' value='Urziceni'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City16toCity37cost' value='142'> \
               </div>\
           </div></fieldset><fieldset id='fieldset17' class='' style='visibility: visible;' name='17'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity17' name='City17' value='Lasi'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity17' value='226'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place38' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City17toCity38' value='Neamt'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City17toCity38cost' value='87'> \
               </div>\
           </div><div id='place39' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City17toCity39' value='Vaslui'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City17toCity39cost' value='92'> \
               </div>\
           </div></fieldset><fieldset id='fieldset18' class='' style='visibility: visible;' name='18'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity18' name='City18' value='Neamt'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity18' value='234'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place40' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City18toCity40' value='Lasi'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City18toCity40cost' value='87'> \
               </div>\
           </div></fieldset><fieldset id='fieldset19' class='' style='visibility: visible;' name='19'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity19' name='City19' value='Hirsova'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity19' value='151'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place41' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City19toCity41' value='Eforie'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City19toCity41cost' value='86'> \
               </div>\
           </div><div id='place42' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City19toCity42' value='Urziceni'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City19toCity42cost' value='98'> \
               </div>\
           </div></fieldset><fieldset id='fieldset20' class='' style='visibility: visible;' name='20'>\
            <legend id='legend'>Cities</legend>\
               <label for='nofcity'>Name of City:</label> \
                   <input type='text' id='nofcity20' name='City20' value='Eforie'>\
                   <label for='heuristic'>straight_line cost:</label> \
                   <input type='number' id='heuristic' name='heuristicCity20' value='161'><br>\
               <button  type='button' id='second' name='addedge' onclick='Addedge(this);'>\
                   ADD Edge\
               </button>\
               <div id='place' class='hidd' style='visibility: hidden'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='toCity'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='cost'> \
               </div>\
           </div> \
           <div id='place43' class='' style='visibility: visible;'>\
               <div id='te'>\
                 \
                      <label for='to'>TO :</label> \
                      <input type='text' id='to' name='City20toCity43' value='Hirsova'> \
                       <label for='cost'>Cost :</label> \
                       <input type='number' id='cost' name='City20toCity43cost' value='86'> \
               </div>\
           </div></fieldset>";
           document.getElementById("sour").value = "Arad";
           document.getElementById("des").value="Bucharest";
           var list1 = document.getElementById("formID").classList;
            list1.add("form");
            list1.remove("formd");
            document.getElementById('first').setAttribute("disabled","disabled");
            document.getElementById('ready').setAttribute("disabled","disabled");
            document.getElementById("submit").focus();
            }
            
    </script>


</head> 
<center>
    <body style="margin:0;height:100%; position: relative; z-index: 5; background-color: #e5d3f7;">
   
    <div style=" min-height:100vh;background: url('../static/image/Picture.png');  background-attachment: fixed; background-position: center left;background-repeat:no-repeat;background-size:contain"">
        <form method="POST" class="formd" id="formID">  
            {% csrf_token %}
            <div style="background-color:rgb(222, 177, 210,0.5);width:fit-content;margin-bottom: 50px;">
                {{GRAPH}}
                <br>
            <b>{{result}}</b>
            </div>
            <div>
            
                </div>
            <label for="sour">Source :</label> 
                <input type="text" id="sour" name="sour">

                <label for="des">Destination :</label>  
               <input type="text" id="des" name="des"><button  type="button" style="background:green; border:dotted white;" name="ready" id="ready" onclick="Ready();">
                Ready
               </button> <br>
                    <button 
                     type="button" name="AddCity"  id="first" onclick="Add(this);">
                     Add City
                    </button>
                <div id="placeholder">
                    <div id="template">
                        <div id="ss">
                            <fieldset id="fieldset" class="hidd" style="visibility: hidden" name="0" >
                 <legend id="legend">Cities</legend>
                    <label for="nofcity">Name of City:</label> 
                        <input type="text" id="nofcity" name="City" value=""/>
                        <label for="heuristic">straight_line cost:</label> 
                        <input type="number" id="heuristic" name="heuristicCity"/></br>
                    <button
                     type="button" id="second"  name="addedge" onclick="Addedge(this);">
                        ADD Edge
                    </button>
                    <div id="place" class="hidd" style="visibility: hidden" >
                    <div id="te">
                      
                           <label for="to">TO :</label> 
                           <input type="text" id="to" name="toCity"/> 
                            <label for="cost">Cost :</label> 
                            <input type="number" id="cost" name="cost"/> 
                    </div>
                </div> 
                </fieldset> 
                
                    </div>
                  
                
                    
                    </div>  <!--template -->
                    
                </div><!-- placeholder -->
                <input type="submit" class="btn" id="submit" name="prev" value="Done" />
        </form>
    </div>

    </body></center>
</html>